h1 {
    text-align: center; color: #0000FF; font-family: Verdana; font-size: 20pt
}
h2{
    text-align: right; color: #800000; font-family: Verdana; font-size: 16pt
}
p{
    text-align: justify; color: #191970; font-family: Arial; font-size: 12pt; font-weight: bold
}
body{
    background-image: url(fon9.jpg);
}
h3{
    text-align: left; color: #0000FF; font-family: serif; font-size: 14pt
}

ul{
    text-align: left; color: #D2691E; font-family: cursive; font-size: 12pt; list-style-type: upper-roman
}
ol{
    text-align: left; color: #D2691E; font-family: cursive; font-size: 12pt; list-style-type: upper-roman
}
ul{
    text-align: left; color: #D2691E; font-family: cursive; font-size: 12pt; list-style-image:url(spisok_1.gif);
}



h1.main{
    color: navy; font-family:  Verdana; text-align:  left; font-size: 14pt;
}
h1.golub{
    color: blue; font-family:  Verdana; text-align:  left; font-size: 14pt;
}
h1.krasn{
    color: red; font-family:  Verdana; text-align:  left; font-size: 14pt;
}
h1.zelen{
    color: green; font-family:  Verdana; text-align:  left; font-size: 14pt;
}
h1.oranzhev{
    color: orange; font-family:  Verdana; text-align:  left; font-size: 14pt;
}

p.text1{
    color: navy; font-family:  Verdana; text-align:  center; font-size: 12pt;
}
p.text2{
    color: blue; font-family:  serif; text-align:  left; font-size: 12pt;
}
p.text3{
    color: red; font-family:  sans-serif; text-align: right; font-size: 12pt;
}
p.text4{
    color: green; font-family:  cursive; text-align: justify; font-size: 12pt;
}
p.text4{
    color: orange; font-family:  fantasy; text-align: start; font-size: 12pt;
}